@model FantaC.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<h2>Details</h2>

<div class="row">
    <div class="col-md-8 whiteBorder scroll">
        <div class="postName">
            <h4>@Html.DisplayFor(model => model.PostName)</h4>
            <h4>Written by: @Html.DisplayFor(model => model.UserName)</h4>
            <img src="@Html.DisplayFor(model => model.PostImage)" />
        </div>
        <div class="postContent">
            <p>@Html.DisplayFor(model => model.PostContent)</p>
        </div>
    </div>
    <div class="col-md-4 whiteBorder scroll">
        <h4>Comments</h4>

        @foreach (var comment in Model.PostComments)
            {
            <h5>@Html.DisplayFor(modelItem => comment.UserName)</h5>
                <h5>@Html.DisplayFor(modelItem => comment.CommentSubject)</h5>
                <p>@Html.DisplayFor(modelItem => comment.CommentContent)</p>
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = comment.CommentId }) |
                    @Html.ActionLink("Details", "Details", new { id = comment.CommentId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = comment.CommentId })
                </p>
        }
        <!--Comments attached to this post-->
        @*@=Html.RenderAction("Create", "Comments", new { postId = Model.PostId });*@
        @*@Html.Partial("Comments")*@
    </div>
</div>
<p>
    @*@Html.ActionLink("Add a Comment", "Create", "Comment")*@
    @Html.ActionLink("Comment", "Create", "Comment", new { id = Model.PostId }, null) | 
    @Html.ActionLink("Back to List", "Index")
</p>
