@model IEnumerable<FantaC.Models.Post>

@{
    ViewBag.Title = "Index";
}

<h2>Fireside Stories</h2>

<img src="~/Content/Images/fire.jpg" />

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-md-8 whiteBorder scroll">
            <div class="postName">
                <h4>@Html.DisplayFor(modelItem => item.PostName)</h4>
                <h4>Written by: @Html.DisplayFor(modelItem => item.UserName)</h4>
                <img src="@Html.DisplayFor(modelItem => item.PostImage)" />
            </div>
            <div class="postContent">
                <p>@Html.DisplayFor(modelItem => item.PostContent)</p>
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = item.PostId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.PostId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.PostId })
                </p>
            </div>
        </div>
}
        <div class="col-md-4 whiteBorder scroll">

            <p>
                @Html.ActionLink("Create New", "Create")
            </p>

            @*<h4>Comments</h4>
            <!--Comments attached to this post-->
            @foreach (var comment in item.PostComments)
            {
                <h5>@Html.DisplayFor(modelItem => comment.UserName)</h5>
                <h5>@Html.DisplayFor(modelItem => comment.CommentSubject)</h5>
                <p>@Html.DisplayFor(modelItem => comment.CommentContent)</p>
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = comment.CommentId }) |
                    @Html.ActionLink("Details", "Details", new { id = comment.CommentId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = comment.CommentId })
                </p>
            }

            @Html.Partial("AddComment", item.NewComment)*@

        </div>
    </div>
