@model IEnumerable<FantaC.Models.Post>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" id="mainJumbotron">
    <h1>Fanta-C: #en your mind!</h1>
    <p class="lead">A once teacher, now intern, battles through the excess of information on the internet to learn C# to prove to his superiors that he is worth hiring.</p>
    <p><a href="/home/about" class="btn btn-primary btn-lg redButton">Learn more &dagger;</a></p>
</div>

@* Look into why the modal is null / how to pull in a model from a different controller later on
<div class="row">
    <div class="col-md-12">
        <h2>Recent Entries</h2>

        @{          
            var m = Model.ToArray();
            int count = @Model.Count();
        }

        @for (var i = count; i > (count - 3); i--)
        {
            <h4>@Html.DisplayFor(modelItem => m[i].PostName)</h4>
            <h4>Written by: @Html.DisplayFor(modelItem => m[i].UserName)</h4>
            <img src="@Html.DisplayFor(modelItem => m[i].PostImage)" class="postImage" />

            <div class="postContent">
                
                <p>@Html.DisplayFor(modelItem => m[i].PostContent)</p>
                <p><a class="btn btn-default redButton" href="@Url.Action("Details", "Post")">Read More &dagger;</a></p>
            </div>
        }
    </div>
 </div>*@